* {
    font-family: 'Open Sans', sans-serif;
    user-select: none;
    margin: 0;
    padding: 0;
}

html {
    background-image: linear-gradient(to bottom left, #bc50cf, #70237e, #2c0328);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* HEADER */
nav h1 {
    margin: 0%;
    font-size: 27px;
    color: #ab309f;
}

.botonLogo {
    border-width: 0;
    background-color: white;
}

nav {
    padding: 15px;
    background-color: #ffffff;
    color: #ab309f;
    /* Para dejarla arriba pegada */
    position: fixed;
    width: 100%;
    top: 0px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0 10px 0 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
    padding-top: 10px;

}

.partyName {
    margin-left: auto;
}

.partyName h3 {
    margin: 0 10% 5% 0;
    white-space: nowrap;
}

.partyName button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
}

nav img {
    width: 80px;
    height: auto;
    margin: 0 0 0 10%;
}

/*  Bienvenida */
.botonIngreso {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    background: #8b2480;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.cuadroBienvenida h5 {
    margin-bottom: 5px;
}

.bienvenida {
    color: white;
    height: 100%;
    min-height: 1000px;
    padding: 130px 15px 15px 15px;
    font-size: 14px;
}

.bienvenida input {
    padding-left: 2%;
    margin: 15px 0 15px;
    border: none;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    width: 98%;
    height: 40px;
}

.cuadroBienvenida {
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ab309f;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1);
    text-align: center;
    
}



/* PRINCIPAL */

.principal {
    display: none;
    color: white;
    padding: 14px;
    border-radius: 10px;
    font-size: 14px;
    padding-top: 100px;
}

.principal h3 {
    margin-bottom: 10px;
}
.principal h2{
    padding-left:3%;
}

.principal p {
    margin: 3px auto;
    font-weight: bold;
}

.principal h4 {
    margin-bottom: 10px;
}


.sugerenciaCuadro {
    margin: none;
    margin-top: 5%;
    background-color: #ab309f;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1);
    padding: 3%;
}

.sugerenciaCuadro #comboSugerencia {
    position: relative;
    display: inline-block;
    width: 150px;
    font-size: medium;
    padding: 1%;
    border-style: outset;
    border-color: #2c0328;
    border-radius: 5px;
    margin-bottom: 5%;
    margin-left: 0%;
    color: #2c0328;
}

#comboSugerencia option {
    color: black;
}

.sugerenciaCuadro textarea {
    height: 50%;
    width: 100%;
    margin: auto 0 2% 0;
    resize: none;
    border-radius: 5px;
    color: black;
}

.principal button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    background: #4f1449;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

